.navbar {
  margin-bottom: 5px;
  padding: 1.3rem var(--spacing3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.brand-name {
  font-size: var(--fs3);
}
/* searchbar */
.search-bar {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid var(--primary-color);
}

.search-bar i {
  margin-left: 4px;
  color: gray;
}
.search-bar input {
  padding: 10px 10px;
  border-radius: 2px;
  width: 100%;
  border: none;
}
.search-bar-desktop {
  display: none;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}
.navbar a h1 {
  display: inline;
  margin-left: var(--spacing3);
  padding: 1rem 0.5rem 1rem 0;
}
.navbar button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
.action-icons {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: var(--spacing6);
  margin-right: 10px;
}
.action-icons .icon-container {
  font-size: 1rem;
}
.action-icons .icon-badge {
  top: -3px;
  right: -11px;
}

/* media queries */

@media screen and (min-width: 600px) {
  .action-icons .icon-container {
    font-size: 1.2rem;
    gap: 20px;
  }
}

@media screen and (min-width: 750px) {
  .action-icons .icon-container {
    font-size: 1.6rem;
  }
  .action-icons {
    gap: 1.2rem;
  }
  .brand-name {
    font-size: var(--fs2);
  }
  .hamburger-menu {
    font-size: 1.4rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .search-bar input {
    padding: 1rem;
  }
  .search-bar i {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1100px) {
  .search-bar {
    display: none;
  }
  .search-bar-desktop {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    border: 1px solid gainsboro;
  }
  .search-bar-desktop input {
    border: none;
    padding: 10px;
    width: 24rem;
  }
  .search-bar-desktop i {
    margin-left: 3px;
    color: gray;
  }
  .search-bar-desktop input:focus {
    outline: none;
  }
}

/* theme */
.dark-theme__navbar a {
  color: var(--brand-name__dark-theme);
}
.dark-theme__navbar button {
  color: var(--brand-name__dark-theme);
}
.light-theme__navbar a {
  color: var(--primary-color);
}
